// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-content {
  margin-top: 60px;
  width: 60%;
  display: inline-block;
}

#wrapper {
  display: flex;
  justify-content: space-around;
}
